/* -- Imports---*/
@import url('http://fonts.cdnfonts.com/css/marsek');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');

/* ------Global Reset & Base---- */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    box-sizing: border-box;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
    content: '';
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* --------Page Layout-------- */
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background: #000010;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
}

/* ---Particles Container----------- */
#particles {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* -----Intro Section-------- */
#intro {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    padding: 0 10px;
    text-align: center;
}

/*--------Typography------------ */
h2#site-header {
    font-family: 'Marsek', sans-serif;
    font-weight: 900;
}

h3#typed {
    font-family: 'Fira Code', monospace;
    font-weight: 400;
}

h2 {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    display: inline;
}

h3 {
    font-size: 30px;
    font-style: italic;
    letter-spacing: 0.01em;
    display: inline;
}

.typed-cursor {
    font-size: 40px;
    color: #715cbd;
}

h1::after {
    content: '';
    width: 80px;
    height: 10px;
    background: #fff;
    display: block;
    margin: 30px auto;
}

p {
    font-size: 24px;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
}

/* --- Responsive (Mobile)----------- */
@media only screen and (max-width: 1000px) {
    h1 {
        font-size: 15px;
    }

    h1::after {
        height: 6px;
    }

    #intro {
        padding: 0 10px;
    }

    p {
        font-size: 18px;
    }

    .btn {
        font-size: 16px;
    }
}
